@using PagedList

@model PagedList<BloodDonation.Context.Registration>

<table id="myTable" class="display">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <!-- Thêm các cột khác nếu cần -->
        </tr>
    </thead>
    <tbody>
        
    </tbody>
</table>
